@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

body{
    background-color: black;
}
h1,
p {
    color: $text-color;
    text-transform: capitalize;
}

a {
    list-style: none;
    text-decoration: none;
}
#movie-show{
    position: relative;
    h1{
        text-align: center;
        padding: 20px 0;
    };
   
    img{
        height: 800px;
        position: absolute;
        top: 100%;
        left: 30%;
    }
    
   
}
